<div class="container">
  <div *ngIf="response" class="detail">
    <img [src]="response.results.image" [alt]="response.results.name" class="image">
    <h1>{{ response.results.name }}</h1>
    <p><strong>Estado:</strong> {{ response.results.status }}</p>
    <p><strong>Especie:</strong> {{ response.results.species }}</p>
    <p><strong>Género:</strong> {{ response.results.gender }}</p>
    <p><strong>Origen:</strong> {{ response.results.origin.name }}</p>
    <p><strong>Ubicación:</strong> {{ response.results.location.name }}</p>
    <button (click)="goBack()">Volver</button>
  </div>
</div>
